{% extends "movies/layout.html" %}

{% block body %}

    <h1>Actress Detail</h1>

    <div>
        <dt>{{ actress.id }}: {{ actress.name }} ({{ actress.enName }}) {{ actress.birth }} {{ actress.height }} {{ actress.debut }}</dt>
        <dt>{{ actress.info | linebreaks }}</dt>
         
        
               
        <form>
          <input type="button" value="Go back!" onclick="history.back()">
        </form>

        <form>
          <input type="button" value="No, really, go back!" onclick="history.go(-2)">
         </form>

        <p>
            <a href="{% url 'movies:index'%}">Back to the Main Page</a>
        </p>


     
  </div>
  
{% endblock %}